/vendor
/node_modules
/.env
/public/build
/storage/*.key
# Laravel runtime
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

# Bootstrap cache
/bootstrap/cache/*
